{% extends "_main.jinja" %}

{% block title %} About {% endblock %}

{% block main %}
    Growie will guide you through the process of creating a business plan and will help you to find valuable
    contacts.
{% endblock %}
