<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Growth mindset</title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>
<body>
<header>
    <h1> GROWIE </h1>
</header>

<nav>
    <ul class=nav>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Lean Canvas levels</a> </li>
        <li> <a href="#">Profil</a> </li>
    </ul>
</nav>

<main>
    <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies massa sed erat interdum, a congue tortor maximus. Suspendisse eget ipsum nec est congue faucibus. Proin tincidunt mauris leo, in vulputate nisl sodales vel. Ut malesuada orci vitae orci dictum, non cursus arcu efficitur. Aliquam vel felis quis est rhoncus pretium. In sed cursus est. Curabitur non libero enim. Fusce elementum justo sed rhoncus vestibulum. Ut nec magna nec risus mattis consequat in ac urna. Pellentesque eu tristique quam, sed vulputate risus. Sed auctor ipsum sed velit pulvinar, vitae tincidunt nunc facilisis. Sed dignissim ut nisi imperdiet sollicitudin. Vivamus non magna neque. Donec venenatis tristique justo, in consectetur justo dignissim vitae.
    </blockquote>
</main>

<footer>
    <p>
        (c) 2019 Evka Milovska
    </p>
</footer>
</body>
</html>
